

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white !important;
  background-size: cover;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}


.App {
  text-align: center;}

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
 
    text-align: left;
  }
  .App-header a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

  .App-header a.active {
      font-weight: bold;
    }
  

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

.Home p {
    font-size: 1.2em;
  }


@media (min-width: 768px) {
  .Home {
    margin: 50px;
    width: 800px;
    height: 500px;
    margin-left: 20%;
  }
}

@media (max-width: 767px) {
  .Home {
    margin: 50px;
    width: 350px;
    height: 300px;
    margin-left: 3%;
  }
}

  .Secret .result {
    font-size: 1.2em;
  }


.Homebtn {
  display: flex;
  justify-content: space-evenly;
}
